@font-face {

    font-family: TrueType; /* Имя шрифта */

    src: url(11528.ttf); /* Путь к файлу со шрифтом */

}
*{
    padding: 0;
    margin: 0;
}
li{
    display:flex ;
    list-style: none;
}
a{
    text-decoration: none;
}
header {

    padding: 22px 0;
    background: #f1f5f8;
}
.header-contayner {
    margin: 0 auto;
    display: flex;
    width: 90%;
    display: flex;
    justify-content: space-between;


}
.main-menu {
    display: flex;
}
.main-menu a{
    color: black;
    font-size: 16px;
    padding: 27px 6px;
    margin-right: 63px;
    text-transform: uppercase;
}
#menu-checkbox{
    display: none;
}
.header-contayner a:hover {
    background: #e4df28;
}
nav {
    margin-top:20px ;
}

.top-slide {
    background:url("img/slider_bg.jpg") ;
}
.top-slide h2{
    background: #e4df28;
    font-size: 50px;
    display: inline;
    padding: 0 13px;
}
.top-contayner {
    width: 85%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom:300px ;
}
.top-contayner:nth-child(2){
    margin-bottom: 10px;
}
.top-contayner h4{
    text-transform: uppercase;
    background: #7b7977;
    display: inline;
    font-size: 25px;
    padding: 4px 0px;
    color: #fff0dc;
    line-height: 37px;
}
.top-two h3{
    font-size: 32px;
    color: #424147;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}
.top-two h5 {
    font-size: 25px;
    color: #424147;
    text-align: center;
    margin-top: 20px;
}
.first-p{
    color: #ffffe6;
    font-size: 26px;
    padding: 16px;

}
.bottom-card{
    background: #424147;
}
.specialize-card {
    display: flex;
    cursor: pointer;
    margin: 50px;

}
.us-row {
    display: flex;
    justify-content: center;
}
.jquery-block {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.jquery-block h3 {
    padding: 15px 15px;
    background: #32302e;
    color: #e4df28;
    text-transform: uppercase;
    margin: 20px;
    display: inline-block;
}
.jquery-block p{
    color: #32302e;
    font-size: 20px;
}
.toggles button {
    text-align: center;
    color: #32302e;
    border: none;
    margin: 20px;
    background: #ffffe6;
    font-size: 22px;
    cursor: pointer;
}
.toggles button:after{
    content: '   / ';
}
.toggles button:last-child:after{
    content: none;
}
/*.post {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;   Не очень хороший вариант, но работает
}
.post:last-child{
    width: 70%;
}*/
.post {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    height: auto;
    padding: 20px;
}
.slide-block {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.slide-block h3 {
    padding: 15px 15px;
    background: #32302e;
    color: #e4df28;
    text-transform: uppercase;
    margin: 20px;
    display: inline-block;
}
.slide-block p{
    color: #32302e;
    font-size: 20px;
}
.owl-carousel {
    padding: 30px 0;
}
footer {

    background:#414146 ;

}
.footerus {
    display: grid;
    grid-template-columns:1fr auto 1fr;
    width: 80%;
    margin: 0 auto;
}
.block-footer {
    width: 80%;
    margin: 0 auto;
}
.footer-about h4{
    padding: 20px 0;
    color: #ffffe5;
    font-size: 27px;
}
.footer-about p{
    margin-top:10px;
    color: #ffffe6;
    font-size: 17px;
}
.footer-about a{
    line-height: 100px;
    padding: 5px 10px;
    background: #000000;
    color: #ffffe6;
    font-size: 1.3em;
    border-bottom: 2px solid #e4df28;
}
.photo-stream h4 {
    color: #ffffe6;
    font-size: 27px;
    margin: 15px 0;
}
.photo-steam-block {
    margin: 25px 0;
    width: 30px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}
.block-footer-two h4{
    padding: 20px 0;
    color: #ffffe5;
    font-size: 27px;
}
.block-footer-two ul{
    margin-top:10px;
}
.block-footer-two p {
    margin-left: 10px;
    color: #ffffe6;
}
.block-footer-two span {
    color: #e4df28;
}
.block-footer-two li {
    margin-top: 40px;
}
.content-url {
    display: flex;
    align-items: center;
    margin-top:60px ;
}
.content-url a {
    margin-left: 2px;
}
.block-footer-three-one h4{
    padding: 20px 0;
    color: #ffffe5;
    font-size: 27px;
    margin-left: 10px;
}
.block-footer-three-one li{
    margin-top: 15px;
    margin-left: 10px;
}
.block-footer-three-one a,p{
    margin-left: 3px;
    color: #ffffe6;
    margin-top: 5px;
}
.block-footer-three-one span{
    color: #e4df28;
}
.block-footer-three h5{
    padding: 20px 0;
    color: #ffffe5;
    font-size: 27px;
    margin-left: 10px;
}






@media screen and (max-width:450px) {
    .header-contyner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .main-menu{
        display: none;

    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 15px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
        cursor: pointer;
        font-size: 20px;

    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: black;
        margin-top: 30px;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);
        display: block;
    }
    .header-contayner a{
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 115px;
    }
    .top-slide h2{
        background: #e4df28;
        font-size: 36px;
        display: inline;
        padding: 0 13px;
    }
    .top-contayner h4{
        text-transform: uppercase;
        background: #7b7977;
        display: inline;
        font-size: 17px;
        padding: 4px 0px;
        color: #fff0dc;
        line-height: 29px;
    }
    .us-row {
         display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-contayner {
        width: 85%;
        margin: 0 auto;
        padding-top: 120px;
        padding-bottom: 74px;
    }
    .top-two h3 {
        font-size: 25px;
        color: #424147;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
    }
    .top-two h5 {
        font-size: 21px;
        color: #424147;
        text-align: center;
        margin-top: 20px;
    }
    .post {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .post img {
        max-width: 250px;
    }
    .footerus {
        display: block;
    }
    .photo-steam-block img{
        width: 70px;
    }
    .content-url {
        display: block;
    }
    .jquery-block {
        width: 75%;
    }

}



