@font-face {

    font-family: TrueType; /* Имя шрифта */

    src: url(11528.ttf); /* Путь к файлу со шрифтом */

}
*{
    padding: 0;
    margin: 0;
}
li{
    display:flex ;
    list-style: none;
}
a{
    text-decoration: none;
}
header {

    padding: 22px 0;
    background: #f1f5f8;
}
.header-contayner {
    margin: 0 auto;
    display: flex;
    width: 90%;
    display: flex;
    justify-content: space-between;

}
.main-menu {
    display: flex;
}
.main-menu a{
    color: black;
    font-size: 16px;
    padding: 27px 6px;
    margin-right: 63px;
    text-transform: uppercase;
}
#menu-checkbox{
    display: none;
}
.header-contayner a:hover {
    background: #e4df28;
}
nav {
    margin-top:20px ;
}

.top-slide {
    background:url("img/slider_bg.jpg") ;
}
.top-slide h2{
    background: #e4df28;
    font-size: 50px;
    display: inline;
    padding: 0 13px;
}
.top-contayner {
    width: 85%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom:300px ;
}
.top-contayner:nth-child(2){
    margin-bottom: 10px;
}
.top-contayner h4{
    text-transform: uppercase;
    background: #7b7977;
    display: inline;
    font-size: 25px;
    padding: 4px 0px;
    color: #fff0dc;
    line-height: 37px;
}
.top-two h3{
    font-size: 32px;
    color: #424147;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}
.top-two h5 {
    font-size: 25px;
    color: #424147;
    text-align: center;
    margin-top: 20px;
}
.first-p{
    color: #ffffe6;
    font-size: 26px;
    padding: 16px;

}
.bottom-card{
    background: #424147;
}
.specialize-card {
    display: flex;
    cursor: pointer;
    margin: 50px;

}
.us-row {
    display: flex;
    justify-content: center;
}












@media screen and (max-width:420px) {
    .header-contyner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .main-menu{
        display: none;

    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 15px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
        cursor: pointer;
        font-size: 20px;

    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: black;
        margin-top: 30px;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);
        display: block;
    }
    .header-contayner a{
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 115px;
    }

}



